@import "src/styles/_constants";

.pageWrapper {
  min-height: calc(100vh - #{$gnb-height});
  padding: 11px 25px;

  background: #E3EFFF;

  .title {
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    color: #022275;
  }
}

.componentWrapper {
  max-width: 100%;
}
