@import "src/styles/_constants";

.tabLink {
  flex: 1;

  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  color: #C4C4C4;
}

.tabItem {
  padding: 11px;
  height: 100%;
  text-align: center;

  .image {
    width: 25px;
    height: 25px;
    margin: 0 auto;
  }

  .labelSelected {
    color: #0941FB;
  }
}

.tabWrapper {
  display: flex;
  position: fixed;
  max-width: $root-max-width;
  margin: 0 auto;
  background-color: white;
  bottom: 0;
  width: 100%;
  height: 65px;

  box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.25);
}

.blankBox {
  height: 65px;
}
