.tabLink {
  flex: 1;
}

.tabItem {
  padding: 5px;
}

.selected {
  background-color: blue;
}

.tabWrapper {
  border-top: solid 1px black;
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100vw;
  margin-left: -1px;
}