.radioInput{
  position: flex;
  margin: 0 auto;
  max-width: 215px;
  height: 35px;
  border: 1px solid #022275;
  border-radius:21px;
  
}

.radioInputselected{
  position: flex;
  margin: 0 auto;
  max-width: 215px;
  height: 35px;
  border: 1px solid #022275;
  border-radius:21px;
  background-color: rosybrown;
}
