.link {
  text-decoration: none;
}

.modalContents {
  font-size: 18px;
  line-height: 28px;
  color: #3A3A3A;

  .highlight {
    color: #0941FB;
  }
}

.modalButton {
  flex: 1;
  background-color: white;

  font-size: 18px;
  line-height: 18px;
  text-align: center;
}

.actionButton {
  color: #0941FB;
}

.cancelButton {
  color: #CECECE;
}
