
.btnNext{
  font-size: 24px;
  color: #0941FB;
  text-align: center;

  min-width: 60%;
  height: 53px;
  margin-left: 22px;
  border-radius: 6px;
  border: 2px solid #0941FB;
  background-color: white;
 
}

.btnNextFilled{
  font-size: 24px;
  color: white;
  text-align: center;

  min-width: 60%;
  height: 53px;
  margin-left: 22px;
  border-radius: 6px;
  border: 2px solid #0941FB;
  background-color: #0941FB;
  }
  