.inputWrapper {
  width: 100%;
}

.label {
  font-size: 18px;
  line-height: 18px;
  color: #022275;
  margin-bottom: 5px;
}

.input {
  border: 0;
  border-bottom: 1px solid #0941FB;
  background-color: inherit;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;

  font-size: 16px;
  line-height: 16px;
}

.inputWrapperRegister{
  text-align: center;
  font-size: 20px;
  color:#3A3A3A;
  line-height: 20px;
}
.labelRegister{
  display: flex;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 20px
}
.Register{
  width: 40%;
  font-size: 20px;
  text-align: center;
}