.label {
  font-size: 18px;
  line-height: 18px;
  color: #022275;
  margin-bottom: 13px;
}

.listWrapper {
  margin-left: 12px;
}

.radioWrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 14px;

  .circle {
    border: 1px solid #0941FB;
    border-radius: 70px;
    width: 13px;
    height: 13px;
  }

  .circleSelected {
    background-color: #0941FB;
  }

  .displayName {
    margin-left: 9px;
  }
}

.validation{
  height: 22px;
  color: #ED5F4F;
  font-size: 10px;
  line-height: 10px;
}
