.Card {
  width: 375px;
  height: 135px;
  font-size: 16px;
  border: 2px solid;
  margin-bottom: 5px;
}
.Left {
  float: left;
  width: 260px;
  height: 130px;
  padding-top: 15px;
}
.First-Top-Nickname {
  width: 135px;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.First-Top-Age {
  border-left: 1px solid;
  float: right;
  padding-right: 5px;
  padding-left: 15px;
}

.Second-Tag {
  color: blue;
  font-size: 10px;
  clear: both;
  padding-left: 15px;
}
.Third-Lastword {
  font-size: 14px;
  clear: both;
  padding-left: 15px;
}

.Right {
  border: 2px solid;
  float: left;
  margin: 10px;
  width: 90px;
  height: 90px;
}
