@import 'src/styles/_constants';

.detailWrapper {
  position: relative;
}

.buttonBlankBox {
  height: 65px;
}

.buttonWrapper {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;

  max-width: $root-max-width;
  margin: 0 auto;

  width: 100%;
  padding: 10.5px 26px;
  background-color: white;
  box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.25);

  .kakaoButton {
    height: 44px;
    border: 1px solid #0935FB;
    background: #0935FB;
    box-sizing: border-box;
    border-radius: 6px;

    width: 100%;

    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
  }
}
