@import 'src/styles/_constants';

.formWrapper {
  width: 100%;
  margin-top: 49px;
}

.inputWrapper {
  margin-bottom: 27px;

  .imageInput {
    display: none;
  }
}

.imageLabel {
  background-color: white;
  width: 90%;
  height: 500px;
  margin: 0 auto;

  .labelDescription {
    padding-top: 200px;
    text-align: center;
  }

  .imagePreview {
    width: 100%;
    height: 100%;
  }
}

.errorMessage {
  height: 22px;
  color: #ED5F4F;
  font-size: 10px;
  line-height: 10px;
  padding-top: 6px;
}
