.tagWrapper{
  display: flex;
}
.tagBoxWrapper{
  width: 100%;
  margin-left:70px; //+-버튼의 width만큼 줘서 화면가운데 오도록 정렬
}

.buttonWrapper {
  display: flex;
  width:100px;
  align-items: flex-end;
}
.buttonForm{
  display: flex;
  align-items: center;
  .button {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    border-radius: 3px;
    background-color: #B5C6FE;

    .title {
      color: white;
      font-size: 20px;
    }
  }
}

.tagForm{
  display: flex;
  width: 210px;
  margin: 0 auto;
  align-items: center;

}

.tag{
  margin-right: 10px;

  font-size: 16px;
  line-height: 16px;
  color: #002C9E;

  &:hover {
    opacity: 0.5;
  }
}

.tagListWrapper{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}