.tagWrapper{
  display: flex;
  flex-direction: column;
}
.tagBoxWrapper{
  width: 100%;
}

.tagForm{
  display: flex;
  width: 210px;
  margin: 0 auto;
  align-items: center;
}

.buttonWrapper {
  display: flex;
  width: 100px;
  margin-top: 10px;
  margin-bottom: 6px;
  align-self: center;
  justify-content: center;

}
.buttonForm{
  display: flex;
  align-items: center;
  .button {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    border-radius: 3px;
    background-color: #B5C6FE;

    .title {
      color: white;
      font-size: 20px;
    }
  }
}
