.tagBoxWrapper{
  width: 100%;
}

.tagForm{
  display: flex;
  width: 242px;
  margin: 0 auto;
  align-items: center;

  .buttonWrapper {
    width: 100px;
    margin-left: 10px;
  }

  .button {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border-radius: 3px;
    background-color: #B5C6FE;

    .title {
      color: white;
      font-size: 20px;
    }
  }
}

.tag{
  margin-right: 10px;

  font-size: 16px;
  line-height: 16px;
  color: #002C9E;

  &:hover {
    opacity: 0.5;
  }
}

.tagListWrapper{
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}