.pageWrapper {
  border: solid 1px black;
  min-height: 100%;
  padding: 11px 25px;

  background: #E3EFFF;

  .title {
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    color: #022275;
  }
}