@import "src/styles/_constants";

.pageWrapper {
  min-height: calc(100vh - #{$gnb-height});
  background: #E3EFFF;

  .title {
    padding: 11px 25px;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    color: #022275;
  }

  .formWrapper {
    margin-top: 87px;
  }
}

