@import 'src/styles/_constants';

.btnWrapper {
  display: flex;
  position: absolute;
  max-width: $root-max-width;
  margin: 0 auto;
  width: 100%;
  background-color: white;
  padding: 35px 28px;
  box-sizing: border-box;
};

.btnPrevWrapper {
  flex: 1;

  .contents {
    width: 30px;
    height: 30px;
    margin: 10px auto;
  }
}

.btnNextWrapper {
  margin-left: 21.5px;
  flex: 3;
}

.blankBox {
  height: 123px;
}