.pageWrapper {
  background-color: #E3EFFF;
  min-height: 100vh;

  padding: 55px 6.6vw 35px 6.6vw;

  .title {
    font-size: 28px;
    line-height: 38px;

    color: #022275;

    margin: 0px 0px 9px 0px;
    margin-bottom: 9px;
  }

  .description {
    margin: 0px;

    font-size: 18px;
    line-height: 30px;
    color: #3A3A3A;
  }

  .skipButton{
    margin: 24px auto 15.5px auto;
    
    width: 25px;

    text-align: center;
    font-size: 16px;
    line-height: 12px;
    color: #757575;
  }

  .nextButton{
    margin: 0 13.3vw;

    width: 60vw;
    height: 53px;

    background: #0941FB;
    box-sizing: border-box;
    
    border-radius: 6px;
    border: 2px solid #0941FB;
    
    text-align: center;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
  }

  .image {
    margin-top: 32px;
    height: 55vh;
    border: 0.5px solid black;

  }
}