.modalOverlay{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.16);
}

.modalWrapper {
  position: fixed;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);

  width: 70%;
  height: 100vh;
  overflow-y: auto;
  background-color: white;
}

.modalContentsWrapper {
  padding: 25px;
}

.buttonWrapper {
  max-height: 350px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top: solid 1px #CECECE;
  border-bottom: solid 1px #CECECE;
  display: flex;
  flex-direction: column;
}
