@import "src/styles/_constants";

.blankBox {
  height: 44px;
}

.gnbWrapper {
  position: fixed;
  max-width: $root-max-width;
  margin: 0 auto;
  width: 100%;
  height: 44px;
  background-color: white;

  .gnbContents {
    margin: 0 20px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.logoImage {
  width: 114px;
}

.pointWrapper {
  width: 100%;

  .point {
    margin-right: 0;
    float: right;

    font-size: 14px;
    line-height: 16px;

    color: #616161;

    .count {
      margin-left: 15px;
      color: #ED5F4F;
    }
  }
}

.sideBarWrapper {
  margin-left:15px;
  float: right;

  .link {
    margin: 10px;
    color: #616161;
    font-size: 16px;
    text-align: center;
  }
}
