@import "src/styles/_constants";

.blankBox {
  height: $gnb-height;
}

.gnbWrapper {
  position: fixed;
  max-width: $root-max-width;
  margin: 0 auto;
  width: 100%;
  height: $gnb-height;
  background-color: white;
  z-index: 100;

  .gnbContents {
    margin: 0 20px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.logoImage {
  width: 114px;
}

.pointWrapper {
  width: 100%;

  .point {
    margin-right: 0;
    float: right;

    font-size: 14px;
    line-height: 16px;

    color: #616161;

    .count {
      margin-left: 15px;
      color: #ED5F4F;
    }
  }
}

.panelWrapper {
  margin-left:15px;
  float: right;

  .separator {
    margin-top: 30px;
  }

  .serviceTitle {
    text-align: left;
    font-size: 14px;
    color: #868e96;
  }

  .link {
    text-decoration: none;
  }

  .linkTitle {
    margin: 15px;
    color: #616161;
    font-size: 16px;
    text-align: center;
  }
}
