.panelOverlay{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.16);
}

.panelWrapper {
  position: fixed;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);

  width: 70%;
  height: 100vh;
  overflow-y: auto;
  background-color: white;
}

.panelContentsWrapper {
  padding: 25px;
}
