.sectionWrapper {
  width: 85%;
  margin: 0 auto;
}

.label {
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 17px;
}

.inputWrapper {
  margin-top: 20px;
}

.separator {
  width: 90%;
  height: 1px;
  margin: 20px auto 0 auto;
  background-color: #E3E3E3;
}

.textBoxWrapper {
  margin-top: 20px;

  .textArea {
    width: 100%;
    height: 363px;
    background: #FBFBFB;
    border: 0.5px solid #616161;
    border-radius: 6px;
    margin-top: 17px;
    box-sizing: border-box;

  }
}

.buttonWrapper {
  width: 67%;
  margin: 35px auto 40px auto;
}
