.inputWrapper {
  margin-bottom: 22px;
}

.buttonWrapper {
  display: block;
  position: fixed;
  bottom: 35px;
  width: calc(100% - 50px);
}

.buttonContentsWrapper {
  width: 60vw;
  margin: 0 auto;
}