@import '../../styles/constants';

.inputWrapper {
  padding: 11px 25px;
  margin-bottom: 22px;
}

.buttonWrapper {
  display: block;
  position: fixed;
  max-width: $ROOTMAXWIDTH;
  margin: $ROOTMARGIN;
  bottom: 35px;
  width: 100%;
}

.buttonContentsWrapper {
  width: 60%;
  margin: 0 auto;
}