@import 'src/styles/_constants';

.inputWrapper {
  padding: 11px 25px;
  margin-bottom: 22px;
}

.responseMessage {
  height: 22px;
  color: #ED5F4F;
  font-size: 14px;
  line-height: 10px;
  padding-top: 6px;
}

.buttonWrapper {
  display: block;
  position: fixed;
  max-width: $root-max-width;
  margin: 0 auto;
  bottom: 35px;
  width: 100%;
}

.buttonContentsWrapper {
  width: 60%;
  margin: 0 auto;
}